

html,body{
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans' !important;
}

nav ul {
    padding-top:10px;
    margin:0;
    list-style-type:none;
    display: table;
    z-index: 3000;
    // display: table-cell;
    // vertical-align: middle;
    float: right;
    
}


nav ul li { 
	color: white;
	text-decoration:none;
    display: table-cell;
    vertical-align: middle;
    float:left;

    a{
		padding:9px 20px;
		display:block;
		color: white;
		font-size: 15px;
		font-weight: 400;
		text-transform: uppercase;
		margin-left: 20px;
		margin-right: 20px;
		&:hover, &:visited{
			color: white;
			text-decoration: none;
		}
	}

	&:first-child a{
    	border: 1px solid white;
    }

}




.parallax {
  background-repeat: no-repeat;
  background-size: cover !important;
  h1{
	text-align: center;
	margin: 0;
	// font-size: 2.5em;
	letter-spacing: .2em;
  	color: white;
 	// padding: 10rem 0;
 }
 .desc{
 	width: 40%;
 	margin: 0 auto;
 	text-align: center;
 	margin-top: 2em;
 	h5{
 		color: white;
		line-height: 27px;
 	}
 }

 #down-arrow{
 	margin: 0 auto;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 48%;
    top: 420px;
    &:hover{
    	background: rgba(255,255,255,0.3);
    	cursor: pointer;
    }
 	img{
 		width: 50px;
 		height: 50px;

 	}
 }

}

section{
	padding: 250px 0;
}

#part1{
  background: url('/images/bg/slide0-laptop.jpg');
  padding: 200px 0;
  h1{
  	text-transform: uppercase;
    font-weight: 900 !important;
  }
}

#part2{
	// padding: 200px 0;
	background: white;
	height: 400px;
	padding: 20px;
	h1{
		text-transform: uppercase;
    	font-weight: 900 !important;
    	color: black;
    	margin-bottom: 20px;
	}
	.desc-me{
		width: 60%;
		margin: 0 auto;
		.desc-sub-section{
			width: 100%;
			display: inline-block;
			float: left;
			padding: 20px;
			text-align: center;
			.hobbies{
				width: 22%;
				display: inline-block;
				margin: 0 auto;
				margin-right: 15px;
				img{
					width: 100px;
				}
			}
		}
	}
}

#part3{
	background: url('/images/bg/slide1_work_masked.jpg');
	height: 500px;
	padding: 20px;
	text-align: center;
	
	h1{
		text-transform: uppercase;
		color: white;
	}
	#work-display{
		width: 100%;
		margin-top: 20px;
		#work-filter-bar{
			width: 70%;
			margin: 0 auto;
			h5{
				display: inline-block;
				float: left;
				color: white;
			}
			ul{
				list-style-type:none;
				float: right;
				color: white;
				li{
					float: left;
					span{
						cursor: pointer;
					}
					&:after{
						margin-left: 10px;
						content: "|";
						margin-right: 10px;
					}
					&:last-child:after{
						content: "";
					}
				}
			}
		}
		#work-grid{
			width: 70%;
			margin: 0 auto;
			margin-top: 20px;
			.work-thumbnail{
				width: 150px;
				height: 150px;
				// background:black;
				float: left;
				margin-left: 20px;
				margin-bottom: 20px;
				.mask{
				    background: black;
				    z-index: 1000;
				    opacity: 0.3;
				    height: 100%;
				    width: 100%;
				    &:hover{
				    	background:none;
				    }
				}
			}

			$img-list: ('calis', 'angular_todo', 'online_shop', 'nightmarket', 'awardwinner', 'cny', 'mday');
			@each $current-img in $img-list {
			    $i: index($img-list, $current-img);
			    .work-thumbnail:nth-child(#{$i}) { 
			        background-image:url('/images/work_display/thumbnail/#{$current-img}.png');

			    }

			}
			// @for $i from 1 through 15 {
			//   @if $i < 8 {
			//     .work-thumbnail:nth-child(#{$i}) { 
			//       background-image:url('/images/work_display/thumbnail/CALIS_1.png');
			//     }
			//   } @else {
			//     .band-#{$i} { 
			//       background-image:url("../img/image_#{$i}.png");
			//     }    
			//   }
			// }
		}
	}

}

#part4{
	padding: 20px;
	height: 300px;
	h1{
		margin-bottom: 40px;
	}
	#contact-detail{
		margin-top: 50px;
		width: 60%;
		margin: 0 auto;
		#avatar{
			width:40%;
			img{
				width: 52%;
    			margin-left: 30%;
			}
			float: left;
		}
		#info{
			float:left;
		}
		#social-media{
			margin-top: 20px;
			a{
				text-decoration: none;
			}
			img{
				width: 40px;
				height: 40px;
			}
		}
		
	}
}

.parallax:nth-of-type(3) {
 
  // background-position-x: 0px;
  // background-position-y: -200px !important;
  // background-repeat: no-repeat;
}

.parallax:nth-of-type(even) {
  background-color: white;
 	h1{
	  // padding: 200px 0;
	  color: black;
	}
}

.parallax:nth-of-type(odd) {
 	h1{
	  
	  color: white;
	}
}

.parallax:nth-of-type(5) {
  	background-color: #333;
  	padding: 10px;
	vertical-align: middle;
	text-align: center;
  span{
  	color: white;
  }
}

#modal{
	.modal-dialog{
		width: 80%;
		.modal-header{
			padding: 0px;
			padding-right: 20px;
		}
		.modal-body{
			height: 85%;
			#display-block{
				width: 50%;
				float: left;
				.iphone-png{
					// float: left;
					img{
						height: 100%;

					}
				}
				.mac-png{
					img{
						margin-top:30px;
						height: 68%;
					}
					.calis{
						float: left;
					    position: absolute;
					    height: 49%;
					    left: 103px;
					    top: 47px;
					}
				}
			}
			#desc-work{
				width: 50%;
				float: left;
				text-align: left;
			}
		}
	}
}
/* Animation */

@keyframes scale-hide {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@-webkit-keyframes scale-hide {
    0% {
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0);
    }
}

@keyframes scale-show {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes scale-show {
    0% {
        -webkit-transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

.grid-scale-hide{
	-webkit-animation: scale-hide 1s;
}
.grid-scale-show{
	-webkit-animation: scale-show 1s;
}