html, body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans' !important; }

nav ul {
  padding-top: 10px;
  margin: 0;
  list-style-type: none;
  display: table;
  z-index: 3000;
  float: right; }

nav ul li {
  color: white;
  text-decoration: none;
  display: table-cell;
  vertical-align: middle;
  float: left; }
  nav ul li a {
    padding: 9px 20px;
    display: block;
    color: white;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 20px;
    margin-right: 20px; }
    nav ul li a:hover, nav ul li a:visited {
      color: white;
      text-decoration: none; }
  nav ul li:first-child a {
    border: 1px solid white; }

.parallax {
  background-repeat: no-repeat;
  background-size: cover !important; }
  .parallax h1 {
    text-align: center;
    margin: 0;
    letter-spacing: .2em;
    color: white; }
  .parallax .desc {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    margin-top: 2em; }
    .parallax .desc h5 {
      color: white;
      line-height: 27px; }
  .parallax #down-arrow {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 48%;
    top: 420px; }
    .parallax #down-arrow:hover {
      background: rgba(255, 255, 255, 0.3);
      cursor: pointer; }
    .parallax #down-arrow img {
      width: 50px;
      height: 50px; }

section {
  padding: 250px 0; }

#part1 {
  background: url("/images/bg/slide0-laptop.jpg");
  padding: 200px 0; }
  #part1 h1 {
    text-transform: uppercase;
    font-weight: 900 !important; }

#part2 {
  background: white;
  height: 400px;
  padding: 20px; }
  #part2 h1 {
    text-transform: uppercase;
    font-weight: 900 !important;
    color: black;
    margin-bottom: 20px; }
  #part2 .desc-me {
    width: 60%;
    margin: 0 auto; }
    #part2 .desc-me .desc-sub-section {
      width: 100%;
      display: inline-block;
      float: left;
      padding: 20px;
      text-align: center; }
      #part2 .desc-me .desc-sub-section .hobbies {
        width: 22%;
        display: inline-block;
        margin: 0 auto;
        margin-right: 15px; }
        #part2 .desc-me .desc-sub-section .hobbies img {
          width: 100px; }

#part3 {
  background: url("/images/bg/slide1_work_masked.jpg");
  height: 500px;
  padding: 20px;
  text-align: center; }
  #part3 h1 {
    text-transform: uppercase;
    color: white; }
  #part3 #work-display {
    width: 100%;
    margin-top: 20px; }
    #part3 #work-display #work-filter-bar {
      width: 70%;
      margin: 0 auto; }
      #part3 #work-display #work-filter-bar h5 {
        display: inline-block;
        float: left;
        color: white; }
      #part3 #work-display #work-filter-bar ul {
        list-style-type: none;
        float: right;
        color: white; }
        #part3 #work-display #work-filter-bar ul li {
          float: left; }
          #part3 #work-display #work-filter-bar ul li span {
            cursor: pointer; }
          #part3 #work-display #work-filter-bar ul li:after {
            margin-left: 10px;
            content: "|";
            margin-right: 10px; }
          #part3 #work-display #work-filter-bar ul li:last-child:after {
            content: ""; }
    #part3 #work-display #work-grid {
      width: 70%;
      margin: 0 auto;
      margin-top: 20px; }
      #part3 #work-display #work-grid .work-thumbnail {
        width: 150px;
        height: 150px;
        float: left;
        margin-left: 20px;
        margin-bottom: 20px; }
        #part3 #work-display #work-grid .work-thumbnail .mask {
          background: black;
          z-index: 1000;
          opacity: 0.3;
          height: 100%;
          width: 100%; }
          #part3 #work-display #work-grid .work-thumbnail .mask:hover {
            background: none; }
      #part3 #work-display #work-grid .work-thumbnail:nth-child(1) {
        background-image: url("/images/work_display/thumbnail/calis.png"); }
      #part3 #work-display #work-grid .work-thumbnail:nth-child(2) {
        background-image: url("/images/work_display/thumbnail/angular_todo.png"); }
      #part3 #work-display #work-grid .work-thumbnail:nth-child(3) {
        background-image: url("/images/work_display/thumbnail/online_shop.png"); }
      #part3 #work-display #work-grid .work-thumbnail:nth-child(4) {
        background-image: url("/images/work_display/thumbnail/nightmarket.png"); }
      #part3 #work-display #work-grid .work-thumbnail:nth-child(5) {
        background-image: url("/images/work_display/thumbnail/awardwinner.png"); }
      #part3 #work-display #work-grid .work-thumbnail:nth-child(6) {
        background-image: url("/images/work_display/thumbnail/cny.png"); }
      #part3 #work-display #work-grid .work-thumbnail:nth-child(7) {
        background-image: url("/images/work_display/thumbnail/mday.png"); }

#part4 {
  padding: 20px;
  height: 300px; }
  #part4 h1 {
    margin-bottom: 40px; }
  #part4 #contact-detail {
    margin-top: 50px;
    width: 60%;
    margin: 0 auto; }
    #part4 #contact-detail #avatar {
      width: 40%;
      float: left; }
      #part4 #contact-detail #avatar img {
        width: 52%;
        margin-left: 30%; }
    #part4 #contact-detail #info {
      float: left; }
    #part4 #contact-detail #social-media {
      margin-top: 20px; }
      #part4 #contact-detail #social-media a {
        text-decoration: none; }
      #part4 #contact-detail #social-media img {
        width: 40px;
        height: 40px; }

.parallax:nth-of-type(even) {
  background-color: white; }
  .parallax:nth-of-type(even) h1 {
    color: black; }

.parallax:nth-of-type(odd) h1 {
  color: white; }

.parallax:nth-of-type(5) {
  background-color: #333;
  padding: 10px;
  vertical-align: middle;
  text-align: center; }
  .parallax:nth-of-type(5) span {
    color: white; }

#modal .modal-dialog {
  width: 80%; }
  #modal .modal-dialog .modal-header {
    padding: 0px;
    padding-right: 20px; }
  #modal .modal-dialog .modal-body {
    height: 85%; }
    #modal .modal-dialog .modal-body #display-block {
      width: 50%;
      float: left; }
      #modal .modal-dialog .modal-body #display-block .iphone-png img {
        height: 100%; }
      #modal .modal-dialog .modal-body #display-block .mac-png img {
        margin-top: 30px;
        height: 68%; }
      #modal .modal-dialog .modal-body #display-block .mac-png .calis {
        float: left;
        position: absolute;
        height: 49%;
        left: 103px;
        top: 47px; }
    #modal .modal-dialog .modal-body #desc-work {
      width: 50%;
      float: left;
      text-align: left; }

/* Animation */
@keyframes scale-hide {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@-webkit-keyframes scale-hide {
  0% {
    -webkit-transform: scale(1); }
  100% {
    -webkit-transform: scale(0); } }

@keyframes scale-show {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@-webkit-keyframes scale-show {
  0% {
    -webkit-transform: scale(0); }
  100% {
    -webkit-transform: scale(1); } }

.grid-scale-hide {
  -webkit-animation: scale-hide 1s; }

.grid-scale-show {
  -webkit-animation: scale-show 1s; }
